@config "../tailwind.config.js";
@import "tailwindcss";

@keyframes shake {
    0% {
        transform: translateX(5px);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(5px);
    }
}

.resource_btn:hover {
    animation: shake 1s ease-in-out;
}